* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #14142b;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
}

main {
  background-color: #09091f;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}
section {
  background: linear-gradient(
    90deg,
    #47cf73,
    #ffdd40,
    #ae63e4,
    #0ebeff,
    #47cf73
  );
  box-shadow: 0px 0px 8px 1px rgb(0, 0, 0);
  padding: 5px;
  width: 300px;
  border-radius: 10px;
  display: flex;
}

.titleTop {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}
.result {
  background: #fff;
  flex: 1;
  display: flex;
  height: 80px;
  margin-top: 20px;
  color: #09091f;
  border-radius: 5px;
  padding: 10px;
}
.form {
  width: 100%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 20px;
  border: none;
  background-color: transparent;
}
.form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid white;
}
.form label::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #fce38a;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}
.form input:focus {
  outline: none;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  left: 0px;
  color: #fce38a;
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

button {
  width: 100%;
  border: none;
  height: 40px;
  margin-top: 15px;
  border-radius: 5px;
  background: #ae63e4;
}
